---

---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Quiz</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="stylesmenu.css" />
  </head>

  <body>
    <div
      class="h-screen bg-cover flex flex-col items-center text-white justify-evenly"
      style={{ backgroundImage: "url('/imagenes/cielo5.jpg')" }}
    >
      <h1 class="text-6xl font-bold">Bienvenido</h1>

      <div
        class="bg-white bg-opacity-15 backdrop-blur shadow-lg rounded-lg p-12 items-center flex flex-col min-w-[30vw]"
      >
        <h2 class="font-bold text-2xl p-8">Seleccioná una categoría</h2>
        <div class="flex flex-col gap-4 w-full">
          <button class="bg-gray-400 bg-opacity-60 rounded-md text-2xl"
            >Privado</button
          >
          <a
            href="/comercial"
            class="bg-gray-400 bg-opacity-60 rounded-md text-2xl text-center"
          >
            Comercial
          </a>

          <button class="bg-gray-400 bg-opacity-60 rounded-md text-2xl"
            >HVI</button
          >
        </div>
      </div>
      <div></div>
    </div>
  </body>
</html>
